<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ dados.nome }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
  

</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', filename=dados.foto) }}" alt="Foto" class="profile-pic"/>
    <h1>{{ dados.nome }}</h1>

    <div class="social-icons">
      <a href="{{ dados.instagram }}" target="_blank">
        <img src="{{ url_for('static', filename='icons/instagram.png') }}" alt="Instagram" class="icon" />
      </a>
      <a href="{{ dados.linkedin }}" target="_blank">
        <img src="{{ url_for('static', filename='icons/linkedin.png') }}" alt="LinkedIn" class="icon" />
      </a>
      <a href="{{ dados.github }}" target="_blank">
        <img src="{{ url_for('static', filename='icons/github.png') }}" alt="GitHub" class="icon" />
      </a>
      <a href="mailto:{{ dados.email }}">
        <img src="{{ url_for('static', filename='icons/gmail.png') }}" alt="E-mail" class="icon" />
      </a>
      <a href="{{ dados.whatsapp }}" target="_blank">
        <img src="{{ url_for('static', filename='icons/whatsapp.png') }}" alt="WhatsApp" class="icon" />
      </a>
    </div>

      

    <a href="{{ dados.curriculo }}" class="link-button" target="_blank">Currículo Web</a>

    <footer>
      Desenvolvido por Cayo Pereira ✨
    </footer>
  </div>
</body>
</html>
